<header id="main-header">
<img src="/logo_jeja.svg" alt="">
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="current"> 
                <!-- länk med angular router som navigerar användaren och tillämpar klass för den sida personen är på -->
                <span class="material-symbols-outlined">home</span>
            </a></li>
            <li><a routerLink="/convert" routerLinkActive="current">
                <span class="material-symbols-outlined">calculate</span>
            </a></li>
            <li><a routerLink="/info" routerLinkActive="current">
                <span class="material-symbols-outlined">info</span>
            </a></li>
        </ul>
    </nav>
</header>