<h1>Diskussion & slutsats</h1>

<p>
    Detta var en rätt svår uppgift för mig då jag tidigare inte arbetat i Angular. Jag ser absolut fördelarna med att underhålla
    en webbplats i detta ramverk, då allt är väldigt strukturerat men jag upplevde det också rätt rörigt att skapa i. Det var mycket
    filer där varje komponent hade ytterligare filer som alla skulle anpassas till varsin del, samt en del som skulle tillhöra dem alla.
    <br><br>
    Jag tror dock att med träning skulle detta kunna vara ett väldigt bra hjälpmedel för både ordning och för att spara på kod
    <br><br>
    Jag löste denna uppgift tack vare Mittuniversitetets teori- och läsanvisningar, tillhörande videoklipp samt artiklar som hänvisades till.
    Jag har även gjort en hel del efterforskningar själv på nätet då jag överlag känner mig rätt osäker på TypeScript. Jag har också tagit hjälp av
    mina tidigare uppgifter samt diskussioner i klassens olika forum.
    <br><br>
    Då jag arbetar med denna uppgift efter kursslut känner jag mig något osäker på kodens uppbyggnad och om rätt scss är 
    skriven i rätt fil men eftersom allt fungerar som det ska så hoppas jag på att det blivit korrekt gjort.
    <br><br>
    Som jag nämnde, anser jag att detta sätt är ett väldigt korrekt sätt att göra på - att allt har sin plats och överlag är lätt att 
    hitta/förändra/uppdatera. Jag känner mig främst ovan. Angular är också ett bra sätt att hålla kod nere genom att man kan
    ha helheten skriven på ett ställe men sedan appliceras på flera. TypeScript är bra då all information som skickas gör det 
    på ett korrekt sätt där denna tas emot korrekt. Risken för fel förminskas.
</p>