@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$primary-color: #464646;
$deviating-color: rgb(240, 240, 78);
$deviating-bright: rgb(252, 252, 168);

$dark-color: darken($primary-color, 10%);
$darker-color: darken($primary-color, 14%);
$bright-color: lighten($primary-color, 10%);
$brighter-color: lighten($primary-color, 30%);
$brightest-color: lighten($primary-color, 100%);

main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 800px; 
    max-width: 95%;
    padding: 1.5em 1.5em;
    box-sizing: border-box;
    background-color: $bright-color;

    p {
    font-family: 'Poppins';
    line-height: 23px;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-size: 14px;
    background-color: $primary-color;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 0.2em;
    margin: 1em 3em;
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding: 1em 0.5em;
        p { padding: 1em; margin: 0.5em 0; }
    }
}