<h1>Moment 3 - Angular 1</h1>
<p>> Skapa en Angular-webbplats med valfritt syfte och innehåll.<br>
    > Inkludera minst tre undersidor.<br>
    > Det ska finnas en undersida för konvertering av värden.<br>
    > Minst en bild ska finnas på någon av undersidorna.<br>
    > Implementera en navigationsmeny med Angulars router-modul.<br>
    > Lägg till minst en komponent på en av undersidorna.<br>
    > Använd CSS eller SCSS för webbplatsens styling med god struktur.<br>
    > Skapa grundläggande global styling i Angular's styles.css-fil och specifika regler på komponentnivå.<br>
    > Versionshantera källkoden med Git och publicera den färdiga webbplatsen på valfri webbhost.<br>
    > Publicera den optimerade webbplatsen på en publikt tillgänglig webbhost.</p>